<nav>
    <ul>
      <li><a href="/superheroes/inicio">Inicio</a></li>
      <li><a href="/superheroes/agregar">Agregar Héroe</a></li>
      <li><a href="/superheroes">Ver Todos los Héroes</a></li>
    </ul>
  </nav>