<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<style>
    
</style>
<body>
    <!--navbar-->
    <%- include('partials/navbar')%>

    <main>
        <%- body %>
    </main>


    <!--footer-->
    <%- include('partials/footer') %>
</body>
</html>