<section class="cuerpo">
    <h1>Bienvenido al Super Sitio</h1>
    <p>Vas a poder encontrar superheroes de todo tipo, tambien agregar nuevos, modificar los que ya estan o si gustas eliminarlos</p>
</section>